  /*============GOOGLE FONTS===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');



/*===========HEADER AND NAV===============*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    width: 100%;
    /* background-position: center; */
    /* background-size: cover; */
    position: relative;
    font-family: 'Montserrat',sans-serif;
}

nav navbar{
    display: flex;
    padding: 2% 6%;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    flex: 1;
    text-align: right;
    top: -50px;
    transition: top 0.3s;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
nav ul li a{
    height: 25px;
    width: 100%;
    color: rgba(4,9,30,0.7);
    text-decoration: none;
    font-size: 20px; 
    /* border-bottom-width: 15px; */
    /* border-bottom-style: solid; */
    /* border-bottom-color:  rgb(7, 74, 97); */
}
nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:rgb(7, 74, 97);
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;
}

/*===========Splash Pic================*/

.slideshow-container {
    min-height: 100vh;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    padding-left: inherit;
    padding-right: inherit;
}

.mySlides {
  display: none;
}

.prev:hover, .next:hover {
  background-color: rgba(4,9,30,0.7);
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*===========HOME================*/
.home section-container{
    width: 100;
    position: absolute;
    /*
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    */
}


.home-text-box h1{
    font-size: 50px;
    font-family: 'Montserrat',sans-serif;
    color: rgb(7, 74, 97);
    text-align: center;
}

.home-text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: rgb(7, 74, 97);
    font-family: 'Montserrat',sans-serif;
    text-align: center;
}

.home-text-box h2{
    width: 100%;
    font-size: 40px;
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    color: rgb(7, 74, 97);
}

/*===========PAYMENT RESOURCES========*/
.payment-resources{
    margin-top: auto;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(7, 74, 97);
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    border-bottom-width: 7.5px;
    border-bottom-style: solid;
    border-bottom-color:  #fff;
}
.payment-resources h1{
    font-size: 50px;
    color:#fff;
    text-align: center;
    font-family:  'Montserrat',sans-serif;
    grid-area: 1/3/4/5;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-column-gap:15px;
    grid-row-gap:15px;
}
.nc-img{
    position: relative;
    width: 300px;
    grid-area: 2/1/4/3;
}
.bloom-img{
    position:relative;
    width: 300px;
    grid-area: 2/3/4/5;
}
.awesome-img{
    position: relative;
    width: 300px;
    grid-area: 2/5/4/7;
}
.cw-img{
    position: relative;
    width: 300px;
    grid-area: 4/1/6/3;
}
.udemy-img{
    position: relative;
    width: 300px;
    grid-area: 4/3/6/4;
}
.sg-img{
    position: relative;
    width: 300px;
    grid-area: 4/5/6/7;
}
/*===========FREE RESOURCES========*/
.free-resources{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url();
    background-position: center;
    background-size: cover;
    position:relative;
    font-family: 'Montserrat',sans-serif;
    border-top-width: 7.5px;
    border-top-style: solid;
    border-top-color: #fff;
}

.free-resources h1{
    font-size: 50px;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    grid-area: 1/3/4/5;
}

.edx--img{
    position: absolute;
    width: 300px;
    grid-area: 2/1/4/3;
}

.fc-img{
    position: relative;
    width: 300px;
    grid-area: 2/3/4/5;
}
.op-img{
    position: relative;
    width: 300px;
    grid-area: 2/5/4/7;
}
.sb-img{
    position: relative;
    width: 300px;
    grid-area: 4/1/6/3;
}
.ca-img{
    position: relative;
    width: 300px;
    grid-area: 4/3/6/4;
}
.w3-img{
    position: relative;
    width: 300px;
    grid-area: 4/5/6/7;
}
img.rounded-corners{
    border-radius: 30px;
}
/*============IMAGE OVERLAY==============*/
.image--overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 30px;
}
.image--title{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.image--overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}
.image--overlay:hover{
    opacity: 1;
}
.image--overlay:hover > *{
    transform: translateY(0);
}
.image--description{
    font-size: 1.25em;
    margin-top: 0.25em;
    text-align: center;
}


/*============Footer==============*/
#footer{
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    height: 75px;
    width: 100%;
}

footer{
    border-top-width: 15px;
    border-top-style: solid;
    border-top-color:  rgb(7, 74, 97);
    justify-content: center;
    background-color: #ffff;
    color: rgb(7, 74, 97);
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    text-align: center;
    border-bottom-width: 15px;
    border-bottom-style: solid;
    border-bottom-color:  rgb(7, 74, 97);
}

footer.a{
    color: rgb(7, 74, 97)
}

footer.a:visited{
    color: rgba(4,9,30,0.7);
}

